textarea:focus {
    outline: none !important;
    border: 2px solid #2962FF !important;
    box-shadow: 0px 0px 0px 2px #D6E1FF;
    border-radius:4px
}

textarea {
    border-radius:4px;
    font-family: inherit;
}